@use '../utils/' as *;

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  background-color: toBaseColor('black', 0.65);
}
