// Your colors
$color-scheme: (
  'white': (
    white-h: 48,
    white-s: 33%,
    white-l: 97%,
    white-base: hsl(var(--white-h), var(--white-s), var(--white-l)),
    white-bg: hsl(300, 100%, 99%),
    white-text: hsl(300, 50%, 99%),
    white-border: hsl(120, 33%, 97%),
    white-shadow: hsl(300, 33%, 97%),
    white-dop: hsl(0, 100%, 100%),
  ),
  'black': (
    black-h: 0,
    black-s: 0%,
    black-l: 12%,
    black-base: hsl(var(--black-h), var(--black-s), var(--black-l)),
    black-bg: hsl(15, 6%, 12%),
    black-text: hsl(0, 3%, 19%),
    black-border: hsl(0, 5%, 16%),
    black-shadow: hsl(25, 56%, 4%),
    black-dop: hsl(210, 4%, 9%),
  ),
  'gray': (
    gray-h: 300,
    gray-s: 4%,
    gray-l: 85%,
    gray-base: hsl(var(--gray-h), var(--gray-s), var(--gray-l)),
    gray-bg: hsl(275, 17%, 86%),
    gray-text: hsl(300, 4%, 75%),
    gray-border: hsl(280, 6%, 68%),
    gray-shadow: hsl(0, 0%, 82%),
    gray-dop: hsl(300, 0%, 48%),
  ),
  'vintage': (
    vintage-h: 36,
    vintage-s: 83%,
    vintage-l: 95%,
    vintage-base: hsl(var(--vintage-h), var(--vintage-s), var(--vintage-l)),
    vintage-bg: hsl(37, 89%, 93%),
    vintage-text: hsl(41, 84%, 85%),
    vintage-border: hsl(32, 88%, 90%),
    vintage-shadow: hsl(38, 74%, 79%),
    vintage-dop: hsl(19, 77%, 79%),
  ),
  'yellow': (
    yellow-h: 54,
    yellow-s: 100%,
    yellow-l: 61%,
    yellow-base: hsl(var(--yellow-h), var(--yellow-s), var(--yellow-l)),
    yellow-bg: hsl(54, 100%, 78%),
    yellow-text: hsl(56, 100%, 55%),
    yellow-border: hsl(50, 95%, 70%),
    yellow-shadow: hsl(57, 100%, 65%),
    yellow-dop: hsl(52, 100%, 50%),
  ),
  'green': (
    green-h: 125,
    green-s: 55%,
    green-l: 75%,
    green-base: hsl(var(--green-h), var(--green-s), var(--green-l)),
    green-bg: hsl(144, 55%, 64%),
    green-text: hsl(170, 45%, 52%),
    green-border: hsl(166, 56%, 47%),
    green-shadow: hsl(157, 38%, 66%),
    green-dop: hsl(130, 50%, 66%),
  ),
  'blue': (
    blue-h: 213,
    blue-s: 91%,
    blue-l: 83%,
    blue-base: hsl(var(--blue-h), var(--blue-s), var(--blue-l)),
    blue-bg: hsl(207, 75%, 72%),
    blue-text: hsl(214, 78%, 65%),
    blue-border: hsl(208, 80%, 67%),
    blue-shadow: hsl(207, 85%, 73%),
    blue-dop: hsl(223, 52%, 67%),
  ),
  'blue-milk': (
    blue-milk-h: 215,
    blue-milk-s: 100%,
    blue-milk-l: 93%,
    blue-milk-base: hsl(var(--blue-milk-h), var(--blue-milk-s), var(--blue-milk-l)),
    blue-milk-bg: hsl(213, 92%, 85%),
    blue-milk-text: hsl(208, 86%, 70%),
    blue-milk-border: hsl(213, 74%, 76%),
    blue-milk-shadow: hsl(204, 100%, 74%),
    blue-milk-dop: hsl(214, 100%, 82%),
  ),
  'azure': (
    azure-h: 197,
    azure-s: 100%,
    azure-l: 77%,
    azure-base: hsl(var(--azure-h), var(--azure-s), var(--azure-l)),
    azure-bg: hsl(194, 100%, 74%),
    azure-text: hsl(199, 73%, 68%),
    azure-border: hsl(196, 68%, 56%),
    azure-shadow: hsl(187, 97%, 47%),
    azure-dop: hsl(197, 90%, 64%),
  ),
  'turquoise': (
    turquoise-h: 191,
    turquoise-s: 53%,
    turquoise-l: 52%,
    turquoise-base: hsl(var(--turquoise-h), var(--turquoise-s), var(--turquoise-l)),
    turquoise-bg: hsl(180, 63%, 41%),
    turquoise-text: hsl(181, 99%, 41%),
    turquoise-border: hsl(196, 68%, 56%),
    turquoise-shadow: hsl(188, 99%, 34%),
    turquoise-dop: hsl(174, 71%, 56%),
  ),
  'red': (
    red-h: 354,
    red-s: 96%,
    red-l: 63%,
    red-base: hsl(var(--red-h), var(--red-s), var(--red-l)),
    red-bg: hsl(0, 84%, 61%),
    red-text: hsl(1, 79%, 46%),
    red-border: hsl(0, 73%, 44%),
    red-shadow: hsl(1, 100%, 52%),
    red-dop: hsl(348, 73%, 56%),
  ),
  'orange': (
    orange-h: 37,
    orange-s: 100%,
    orange-l: 67%,
    orange-base: hsl(var(--orange-h), var(--orange-s), var(--orange-l)),
    orange-bg: hsl(27, 95%, 63%),
    orange-text: hsl(30, 100%, 58%),
    orange-border: hsl(34, 99%, 59%),
    orange-shadow: hsl(41, 100%, 66%),
    orange-dop: hsl(41, 100%, 52%),
  ),
  'brown': (
    brown-h: 20,
    brown-s: 34%,
    brown-l: 49%,
    brown-base: hsl(var(--brown-h), var(--brown-s), var(--brown-l)),
    brown-bg: hsl(20, 32%, 43%),
    brown-text: hsl(16, 26%, 37%),
    brown-border: hsl(17, 20%, 37%),
    brown-shadow: hsl(13, 24%, 49%),
    brown-dop: hsl(20, 38%, 23%),
  ),
  'brown-milk': (
    brown-milk-h: 33,
    brown-milk-s: 68%,
    brown-milk-l: 72%,
    brown-milk-base: hsl(var(--brown-milk-h), var(--brown-milk-s), var(--brown-milk-l)),
    brown-milk-bg: hsl(22, 24%, 57%),
    brown-milk-text: hsl(34, 36%, 61%),
    brown-milk-border: hsl(32, 38%, 60%),
    brown-milk-shadow: hsl(33, 67%, 69%),
    brown-milk-dop: hsl(30, 53%, 72%),
  ),
  'pink': (
    pink-h: 339,
    pink-s: 100%,
    pink-l: 92%,
    pink-base: hsl(var(--pink-h), var(--pink-s), var(--pink-l)),
    pink-bg: hsl(298, 100%, 94%),
    pink-text: hsl(338, 95%, 71%),
    pink-border: hsl(340, 79%, 79%),
    pink-shadow: hsl(325, 100%, 77%),
    pink-dop: hsl(338, 100%, 76%),
  ),
  'purple': (
    purple-h: 225,
    purple-s: 38%,
    purple-l: 65%,
    purple-base: hsl(var(--purple-h), var(--purple-s), var(--purple-l)),
    purple-bg: hsl(241, 100%, 76%),
    purple-text: hsl(259, 100%, 74%),
    purple-border: hsl(236, 42%, 44%),
    purple-shadow: hsl(248, 80%, 53%),
    purple-dop: hsl(248, 43%, 65%),
  ),
  'extraordinary-dark': (
    extraordinary-dark-h: 220,
    extraordinary-dark-s: 20%,
    extraordinary-dark-l: 18%,
    extraordinary-dark-base:
      hsl(
        var(--extraordinary-dark-h),
        var(--extraordinary-dark-s),
        var(--extraordinary-dark-l)
      ),
    extraordinary-dark-bg: hsl(215, 50%, 34%),
    extraordinary-dark-text: hsl(211, 38%, 19%),
    extraordinary-dark-border: hsl(280, 3%, 23%),
    extraordinary-dark-shadow: hsl(202, 31%, 39%),
    extraordinary-dark-dop: hsl(225, 32%, 15%),
  ),
);
