.nav {
  border: 1px solid var(--black-border);
  flex: 3;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  height: 100%;
}

.nav-item {
}

.nav-link {
  color: var(--blue-text);
}
